body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  box-sizing: border-box;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.book {
  background-color: #fff;
  padding: 15px;
  margin: 20px 0;
  border-radius: 8px;
  border: 1px solid silver;
  display: flex;
  height: 140px;
}

button {
  height: 45px;
  background-color: #1e9cff;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  width: 200px;
  border: 0;
}

.book button {
  height: 30px;
  background-color: #1e9cff;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  border: 0;
}

.book sub {
  color: #1e9cff;
  font-size: 11pt;
  margin-bottom: 15px;
}

.book ul {
  list-style: none;
  position: relative;
  left: -40px;
}

.book ul li {
  display: inline;
}

.book ul li a {
  text-decoration: none;
  color: #1e9cff;
  margin: 0 20px 0 0;
}

hr {
  border: 1px solid silver;
}

h2 {
  padding: 0;
  margin: 0;
  color: silver;
  text-transform: uppercase;
  font-size: 14pt;
}

.part-1 {
  width: 50%;
}

.part-1 p {
  font-weight: bold;
  color: silver;
}

.part-1 h2 {
  font-weight: bold;
  color: black;
}

.part-1 sub {
  color: #1e9cff;
}

.part-2 {
  width: 25%;
}

.part-3 {
  width: 25%;
}

.part-3 p:first-child {
  text-transform: uppercase;
  color: silver;
}

form {
  display: flex;
}

input {
  background-color: white;
  border: 1px solid silver;
  padding: 5px;
  font-size: 12pt;
  color: gray;
  height: 25pt;
  width: 40%;
  border-radius: 5px;
  margin-right: 15px;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
}
